* {
    padding: 0;
    margin: 0;
  }
  
  #game {
    height: 300px;
    border: 1px solid black;
    background-image: url("../../data/map/background1.png");
    position: relative; 
  }
  
  #character {
    width: 100px;
    height: 100px;
    background-image: url("../../data/character/runningcharacter.jpg");
    background-size: 125px;
    background-position: center;
    position: absolute;
    bottom: 0;
  }
  
  .character.ducking {
    height: 20px;
    top: 0;
  }
  
  .animate {
    animation: jump 600ms infinite;
  }
  
  #block {
    width: 50px;
    height: 20px;
    background-image: url(../../data/character/cat.png);
    background-size: 50px 20px;
    position: absolute; 
    bottom: 0; 
    left: 480px;
    animation: block 1s infinite linear;
  }

  .score{
    font-size: 64px;
    display: flex;
    justify-content: center;
  }
  .gamelost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .jumpbutton{
    display: flex;
    justify-content: center;
    font-size: 84px;
    align-items: center;
  }
  .Lost{
    color: red;
    font-size: 64px;
    padding-bottom: 60px;
  }

  .restart{
    padding: 40px;
    font-size: 64px;
  }

  .area{
    background-image: url(../../data/map/woodbackground2.jpg);
    height: 1000px;
  }

  @keyframes block {
    0% {
      left: 500px;
    }
    100% {
      left: -40px;
    }
  }
  
  @keyframes jump {
    0% {
      top: 0; 
    }
    30% {
      top: 10px; 
    } 
    70% {
      top: -20x;
    }
     100% {
      top: 0; 
    }
  }